table {
	font-family: arial, sans-serif;
	background-color: #ffffff;
	filter: alpha(opacity=40);
	opacity: 0.95;
	border: 5px solid black;
	table-layout: fixed;
	  width: 100%;
}

td, th {
	text-align: center;
}

#abreviaturas {
	background-color:#94cbff;
	font-weight: bold;
}

#monedas {
	font-weight: bold;
}

#cantidades {
	background-color:#d4d4d4;
}
